version: '3'
services:
  db:
    container_name: granular_db
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always

    build:
      context: go-rest-api/database
    environment:
      MYSQL_ROOT_PASSWORD: Ilikethenumber69!
      MYSQL_DATABASE: users_db
      MYSQL_USER: root
      ACCEPT_EULA: "Y"
    ports:
    - "3306:3306"
    tty: true
  app:
    build:
      context: go-rest-api
    volumes:
    - "./go-rest-api:/app"
    container_name: granular_app
    ports:
    - "8080:8080"
    tty: true
    depends_on:
      - db